.container {
  position: relative;
}

.textfield {
  border-radius: 0.75rem;
  border: none;
  box-sizing: border-box;
  height: 1.75rem;
  outline: none;
  padding: 0 0.6rem;
  position: relative;
  width: 100%;

  &:focus {
    outline: 2px solid #3cff64;
  }
}

.light {
  background-color: #1a2233;
  color: #fff;

  &:hover:not(:focus) {
    outline: 1px solid #15b134;
  }
}

.dark {
  &:hover:not(:focus) {
    outline: 1px solid #76d489;
  }
}

.error {
  color: rgb(244, 67, 54);
  font-weight: 400;
  letter-spacing: 0.03rem;
  font-size: 0.8rem;
  margin: 0;
  margin-top: 0.3rem;
  padding-left: 0.6rem;
}
