.config {
  width: 80%;
  max-width: 500px;
  margin: 2rem auto;

  .form {
    label {
      display: block;
      margin-bottom: 0.5rem;
      font-weight: bold;
      font-size: 1rem;
    }

    div {
      margin-bottom: 1rem;
    }

    .submit_section {
      display: flex;
      justify-content: flex-end;
      margin-top: 1rem;
    }
  }

  .callout {
    padding: 1rem;
    font-weight: bold;
    background-color: #3cff64;
    border-radius: 0.25rem;
  }
}
