.add_widget {
  min-height: 14.25rem;
  color: white;
  background-color: #1a2233;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .add_button {
    font-size: 1rem;
    background-color: transparent;
    border: 0;

    p {
      margin-top: 0.15rem;
      color: white;
    }

    &:hover {
      cursor: pointer;

      svg {
        transform: scale(1.05);
        fill: #3cff64;
      }
    }
  }

  .form {
    width: 100%;
    padding: 1rem;

    label {
      font-weight: bold;
      display: block;
      margin-bottom: 0.5rem;
      font-size: 1rem;
    }

    .submit_section {
      display: flex;
      justify-content: flex-end;
      margin-top: 1rem;
    }

    .error {
      padding: 0.25rem;
      color: black;
      background-color: #f83d32;
      border-radius: 0.25rem;
    }
  }
}
